//grids
$grid-width: 70%;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

$gutter-horizontal-feature:4.5rem;

// colors
$maroon-brown:#9d2503;
$coffee-brown:#c36a2d;
$light-brown:#df8543;
$light-yellow:#e2c275;
$pale-yellow:#f1f1b0;
$pale-green:#7fa998;
$font-grey:#706c61;
$dark-grey:#1b262c;
$light-grey:#ebecf1;
$black:black;

$gradient-yellow1:#F7971E;
$gradient-yellow2:#ffd200;
$gradient-green1:#4AC29A;
$gradient-green2:#BDFFF3;
$gradient-red1:#fd746c;
$gradient-red2:#ff9068;

//headings
$secondary:1.8rem;
$tertiary:1.6rem;
$quard:1rem;

//margin-bottom
$great-primary-margin:3rem;
$primary-margin: 2rem;
$secondary-margin:1.5rem;
$tertiary-margin:1rem;
$quard-margin: .7rem;
