.about-row {
  max-width: $grid-width;
  margin: 0 auto;
  @include clearfix;

  [class^="col"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-text,.col-image {
    width: calc((100% - #{$gutter-horizontal})/2);
  }
}
.feature-row{
  max-width: 90%;
  @include clearfix;

  [class="feature-box"] {
    float: left;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  .feature-box{
    width: calc((100% - 3 * #{$gutter-horizontal-feature})/4);
  }
  
}

.tour-row{
  max-width: 70%;
  margin: 0 auto;
  @include clearfix;

  [class="card"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .card {
    width: calc((100% - 2 * #{$gutter-horizontal})/3);
  }
}
  // .tour-row-card {
  //   width: calc((100% - 3 * #{$gutter-horizontal-feature})/4);
  // }
  //
  // .col-feature-box-3 {
  //   width: calc((100% - 3 * #{$gutter-horizontal-feature})/4);
  // }
