.composition {
  position: relative;
  &__photo{
    width: 55%;
    position: absolute;
    box-shadow: 0rem 1rem 3rem rgba($dark-grey,.5);
    z-index: 10;
    border-radius: 2;
    transition: all .15s;
    outline-offset: .8rem;

  &-photo-1{
    left: 0;
    top: 1rem;
    position: absolute;
  }
  &-photo-2{
    left: 10rem;
    top: 2.5rem;
    position: absolute;
  }
  &-photo-3{
    left: 3.5rem;
    top: 7rem;
    position: absolute;
  }
  &:hover{
    z-index: 20;
    box-shadow: 0rem 2rem 2.5rem rgba($dark-grey,.7);
    transform: scale(1.2) translate(-0.7rem);
    outline: .4rem solid $font-grey;
  }
 }
 &:hover &__photo:not(:hover){
   opacity: .8;
   transform: scale(.9);
 }
}
