
   .feature-box{
     background-color: rgba($light-grey,.8);
     padding: 2rem 2rem;
     font-size: .7rem;
     display: inline-block;
     border-radius: 3px;
     box-shadow: 0 1rem 3rem rgba($dark-grey,.3);
     transition: all 0.2s ease;
    
     &:hover{
       transform: translateY(-1.5rem) scale(1.03);
       box-shadow: 1rem 1.2rem 4rem rgba($dark-grey,.6);
     }

     &__icon{
       font-size: 3rem;
       display: inline-block;
       background-image: linear-gradient(to right, $light-brown,$font-grey, $light-yellow);
       -webkit-background-clip: text;
       color: transparent;
       &-basic-world{
         padding: 0;
       }
     }
   }
