@keyframes head_main_left {
  0%{
    opacity: 0;
    transform: translateX(-6.25rem);
  }

  25%{
    opacity: 0.3;
    transform: translateX(4.6875rem);
  }

  50%{
    opacity: 0.5;
    transform: translateX(-2.812rem);
  }

  75%{
    opacity: 0.78;
    transform: translateX(1.25rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes head_sub_right {
  0%{
    opacity: 0;
    transform: translateX(6.25rem);
  }

  25%{
    opacity: 0.3;
    transform: translateX(-4.6875rem);
  }

  50%{
    opacity: 0.5;
    transform: translateX(2.8125rem);
  }

  75%{
    opacity: 0.78;
    transform: translateX(-1.25rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}




@keyframes button-animation {
  0%{
    opacity: 0;
    transform: translateY(13rem);
  }

  25%{
    opacity: 0.3;
  }

  50%{
    opacity: 0.5;
  }

  75%{
    opacity: 0.78;
    transform: translateY(-0.3125rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
